{% load static %}
<!Doctype html>
<html lang="ja">
<head>
    {% include 'mysite/snippets/head.html' %}
</head>
　
<body style="
      min-height: 650px;
      background: url({% static 'mysite/gackground-img.jpg' %}) center top/cover no-repeat;
      z-index: -1;
      background-color:rgba(255,255,255,0.75);
      background-blend-mode:lighten;
      background-attachment: fixed;
">
    {% include 'mysite/snippets/header.html' %}
    {% include 'mysite/snippets/messages.html' %}

    {% block content %}
    {% endblock %}

    {% include 'mysite/snippets/footer.html' %}

</body>
</html>

