{% load static %}
<aside class="col-md-4">
    <!-- Card -->
    <div class="card mb-5">
        <div class="card-body">
            <h5 class="card-title"> Nicolas de Stael について</h5>
            <p class="card-text">
                　ニコラ・ド・スタール（Nicolas de Stael、1914年1月5日 - 1955年3月16日）は、ロシア生まれの画家である。<br>
                　ロシア貴族の子息として生まれるが、革命によりブリュッセルへ亡命。1938年、デッサンを学びパリに移住し、
                1939年には亡命者の不安や理想主義者の不安から外人部隊に入隊する。<br>
                　その最中、芸術上でも大きな成果を上げ、晩年は現実への叙情的な回帰が具象的な表現へと変化していくが、
                1955年、下記作品を最後を描き終え自殺した。
            </p>
            <p class="card-text text-center text-muted">
                <small>↓ 詳しくはこちらの画像をクリック ↓</small>
            </p>
        </div>
        <a class="text-muted" target="_blank" href="http://franceartsanpo.blog.fc2.com/blog-entry-3.html">
            <div class="card bg-light text-white">
                <img src="{% static 'mysite/link-img1.jpg' %}" class="card-img">
                <div class="card-img-overlay">
                    <h5 class="card-title">横たわる青い裸婦, 油彩, 1954</h5>
                    <p class="card-text">Click.</p>
                </div>
            </div>
        </a>
    </div>

    <figure class="figure">
        <img class="figure-img img-fluid rounded"
             src="{% static 'mysite/img1.jpg' %}">
        <figcaption class="figure-caption text-center fst-italic small">
            <a class="text-muted" href="https://pixabay.com/ja/users/prmaladevi-20091632/
            ?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;
            utm_content=5965850">Prmala Devi</a>による<a class="text-muted" href="https://pixabay.com/ja/
            ?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;
            utm_content=5965850">Pixabay</a>からの画像
        </figcaption>
    </figure>

    <figure class="figure">
        <img class="figure-img img-fluid rounded"
             src="{% static 'mysite/img2.jpg' %}">
        <figcaption class="figure-caption text-center fst-italic small">
            <a class="text-muted" href="https://pixabay.com/ja/users/freestocks-photos-7014431/
            ?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;
            utm_content=2940203">freestocks-photos</a>による<a class="text-muted" href="https://pixabay.com/ja/
            ?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;
            utm_content=2940203">Pixabay</a>からの画像
        </figcaption>
    </figure>

</aside>


